@media only screen and (max-width: 50em)  {
    h1 {
      font-size: 2.5rem;
      margin: 1rem;
      
    }

    header{
      display: block;
      background-color: #ffb8ec;
      padding:0px;
      font-size: 0.5em;
  }
  }